<ion-view view-title="Your Habits" id="habits">
    <ion-content>
		<ion-refresher
    		pulling-text="Pull to refresh..."
    		on-refresh="refresh()"
            pulling-icon="mdi-navigation-expand-less">
  		</ion-refresher>
		<ion-list>
			<ion-item ng-repeat="habit in habits track by $index" class="item-icon-right">
                <i class="icon ion-close-circled accent-color tiny" ng-click="remove(habit._id)"></i>

	            <div>{{habit.name}}</div>
                <span class="light-grey sub-text" ng-if="habit.streakcount > 0">Your current streakcount is {{habit.streakcount}} day<span ng-if="habit.streakcount > 1">s</span></span>

                <span class="light-grey sub-text" ng-if="habit.streakcount < 1">
                    Start with a clean slate!
                </span>
	        </ion-item>
		</ion-list>

        <div class="text-center padding" ng-hide="habits.length > 0">
            <img src="img/icon.png" width="33%" style="margin-top: 50px;">
                
            <div style="margin: 50px auto 0 auto; width: 70%">
                <h1 class="title" style="font-size: 16px; margin-bottom: 4px;">How are you today?</h1>
                <p class="sub-text" style="font-size: 14px;  line-height: 1.2;">I see you haven't added any habits yet, to add a new habit click on the <span class="accent-color">&#43;</span> in the lower right corner.</p>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-clear">
        <div class="fixed-action-btn" style="bottom: 20px; right: 20px;"  ng-click="openModal()">
            <a class="btn-floating btn-large waves-effect waves-light background-accent-color">
                <i class="large mdi-content-add"></i>
            </a>
        </div>
	</ion-footer-bar>
</ion-view>