<ion-modal-view>
    <ion-header-bar class="bar-assertive">
      	<h1 class="title">Add a new habit</h1>
      	<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
		<form ng-submit="add(habit)">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Name</span>
					<input type="text" placeholder="Habit name" ng-model="habit.name">
				</label>
				<label class="item item-input">
					<span class="input-label">Remembering days</span>
				</label>
				<ion-checkbox ng-model="habit.remembering.mon">Monday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.tue">Tuesday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.wed">Wednesday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.thu">Thursday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.fri">Friday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.sat">Saturday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.sun">Sunday</ion-checkbox>
				
			</div>

			<input type="submit" class="button button-assertive button-block" value="Add {{habit.name}}" />
		</form>

    </ion-content>
</ion-modal-view>