<ion-view view-title="Settings">
  	<ion-content>
      <ion-list>  
        <div class="item item-toggle" style="padding: 0;">
          <div class="section" style="margin: 0 16px 8px;">
          
            <h5 class="accent-color" style="padding: 0 0 8px;">Facebook</h5>
            <label style="font-size: 12px;">Logged in with Facebook?</label>

            <label class="toggle toggle-assertive" style="margin-top:16px;">
                <input type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
            </label>

          </div>
        </div>

        <div class="item item-toggle" style="padding: 0;">
          <div class="section" style="margin: 0 16px 8px;">
          
            <h5 class="accent-color" style="padding: 0 0 8px;">Notifications</h5>
            <label style="font-size: 12px;">Pushnotifications?</label>

            <label class="toggle toggle-assertive" style="margin-top:16px;">
                <input type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
            </label>

          </div>
        </div>
      </ion-list>

    	<!--<ul class="list">

  			<li class="item item-toggle">
     			Connected with facebook
     			<label class="toggle toggle-assertive">
       				<input type="checkbox">
       				<div class="track">
         				<div class="handle"></div>
       				</div>
     			</label>
  			</li>
			<li class="item item-toggle">
     			Pushnotifications
     			<label class="toggle toggle-assertive">
       				<input type="checkbox">
       				<div class="track">
         				<div class="handle"></div>
       				</div>
     			</label>
  			</li>
  			<li class="item item-toggle">
     			Silent days
     			<label class="toggle toggle-assertive">
       				<input type="checkbox">
       				<div class="track">
         				<div class="handle"></div>
       				</div>
     			</label>
  			</li>
  			<li class="item item-toggle">
     			Reset
     			<label class="toggle toggle-assertive">
       				<input type="checkbox">
       				<div class="track">
         				<div class="handle"></div>
       				</div>
     			</label>
  			</li>

		</ul> -->
  	</ion-content>
</ion-view>