<ion-view view-title="Dashboard" id="dashboard" ng-init="init();">
    <ion-content>
		<ion-refresher
    		pulling-text="Pull to refresh..."
    		on-refresh="refresh()"
            pulling-icon="mdi-navigation-expand-less">
  		</ion-refresher>
        <div style="margin-top: 5px;"></div>

        <ion-item ng-repeat="habit in habits | dashboardReady as results track by $index" style="padding: 0; border: 0; background: none" ng-show="results.length > 0">

            <div class="card waves-effect waves-block waves-light" style="margin: 5px 10px 5px 10px;" >
                <div class="card-content">
                    <span class="card-title primary-text roboto-regular">{{habit.name}}</span>
                    
                    <div class="light-grey sub-text padding-bottom"><span>{{rememberDay()}}</span> <span ng-if="habit.streakcount > 0">| Your streak count is {{habit.streakcount}} days</span></div>
                </div>
                <div class="card-action">
                    <a href="#" class="accent-color" ng-click="finished(habit._id, 'complete')">Success</a>
                    <a href='#' class="accent-color" ng-click="finished(habit._id, 'fail')">Fail</a>
                </div>
            </div>

        </ion-item>
        
        <div class="text-center padding" ng-hide="results.length > 0">
            <img src="img/icon.png" width="33%" style="margin-top: 50px;">
                
            <div style="margin: 50px auto 0 auto; width: 70%">
                <h1 class="title" style="font-size: 16px; margin-bottom: 4px;">Hello there!</h1>
                <p class="sub-text" style="font-size: 14px;  line-height: 1.2;">My name is Eva and I'm your personal habit assistant. <br><br> To add a new habit click on the <span class="accent-color">&#43;</span> in the lower right corner.</p>
            </div>
        </div>


    </ion-content>

    <ion-footer-bar align-title="center" class="bar-clear">
        <div class="fixed-action-btn" style="bottom: 20px; right: 20px;"  ng-click="openModal()">
            <a class="btn-floating btn-large waves-effect waves-light background-accent-color">
                <i class="large mdi-content-add"></i>
            </a>
        </div>
	</ion-footer-bar>
</ion-view>