<ion-view view-title="Dashboard" id="dashboard">
    <ion-content>
		<ion-refresher
    		pulling-text="Pull to refresh..."
    		on-refresh="refresh()"
            pulling-icon="mdi-navigation-expand-less">
  		</ion-refresher>
        <div style="margin-top: 5px;"></div>
        
        <!-- <ion-item style="padding: 0; border: 0; background: none" ng-if="!!!habits">
            <div class="card waves-effect waves-block waves-light" style="margin: 5px 10px 5px 10px;">
                <div class="card-content">
                    <span class="card-title primary-text roboto-regular" style="white-space: normal">"Add you first habit!"</span>
                    <div class="lightgrey sub-text padding-bottom">
                        - Harold
                    </div>

                    
                </div>
                <div class="card-action">
                    <a href="#" class="accent-color" ng-click="openModal()">OK</a>
                    <a href='#' class="accent-color" ng-click="">Later</a>
                </div>
            </div>
        </ion-item> -->        

        <ion-item ng-repeat="habit in habits track by $index" style="padding: 0; border: 0; background: none" ng-show="isToday(habit.remembering) && isFinished(habit.completed)">

            <div class="card waves-effect waves-block waves-light" style="margin: 5px 10px 5px 10px;" >
                <div class="card-content">
                    <span class="card-title primary-text roboto-regular">{{habit.name}}</span>
                    
                    <div class="light-grey sub-text padding-bottom"><span>{{rememberDay()}}</span> <span ng-if="habit.streakcount > 0">| Your streak count is {{habit.streakcount}} days</span></div>
                </div>
                <div class="card-action">
                    <a href="#" class="accent-color" ng-click="finished(habit._id, 'complete')">Success</a>
                    <a href='#' class="accent-color" ng-click="finished(habit._id, 'fail')">Fail</a>
                </div>
            </div>

        </ion-item>


    </ion-content>

    <ion-footer-bar align-title="center" class="bar-clear">
        <div class="fixed-action-btn" style="bottom: 20px; right: 20px;"  ng-click="openModal()">
            <a class="btn-floating btn-large waves-effect waves-light background-accent-color">
                <i class="large mdi-content-add"></i>
            </a>
        </div>
	</ion-footer-bar>
</ion-view>