<ion-modal-view>
    <ion-header-bar class="bar-positive" align-title="left">
      	<div class="buttons">
    		<button class="button button-clear" ng-click="modal.hide()"><i class="small mdi-navigation-close"></i></button>
  		</div>
  		<h1 class="title">Add a habit</h1>
  		<div class="buttons">
    		<button class="button button-clear" ng-click="add(habit)"><i class="small mdi-navigation-check"></i></button>
  		</div>
    </ion-header-bar>
    <ion-content>
		<form>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Name</span>
					<input type="text" placeholder="Habit name" ng-model="habit.name">
				</label>
				<label class="item item-input">
					<span class="input-label">Remembering days</span>
				</label>
				<ion-checkbox ng-model="habit.remembering.mon">Monday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.tue">Tuesday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.wed">Wednesday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.thu">Thursday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.fri">Friday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.sat">Saturday</ion-checkbox>
				<ion-checkbox ng-model="habit.remembering.sun">Sunday</ion-checkbox>
			</div>
		</form>

    </ion-content>
</ion-modal-view>