<ion-view view-title="Profile">
  	<ion-content class="padding" ng-init="load()">

  		<button class="button button-full button-positive z-depth-1" ng-click="login()">Login with Facebook</button>

		{{profileData}}

		<div ng-if="isLoggedIn()">
			
	    	Naam: <br>
	    	foto: <br>

			streakcount: <br>
	    	<div class="badges">
	    		<div class="row">
	    			
					<div class="col col-33">
						badge 1
					</div>
					<div class="col col-33">
						badge 2
					</div>
					<div class="col col-33">
						badge 3
					</div>

	    		</div>
	    		<div class="row">
	    			
					<div class="col col-33">
						badge 4
					</div>
					<div class="col col-33">
						badge 5
					</div>
					<div class="col col-33">
						badge 6
					</div>

	    		</div>
	    	</div>

    		<a class="">uitloggen?</a>

		</div>


		<div ng-if="!isLoggedIn()">
			
			If you want to use this feature you have to <a href="" >login</a>

		</div>

    	
  	</ion-content>
</ion-view>