<ion-view view-title="Ranking">
  	<ion-content class="padding">

		<div ng-if="isLoggedIn()">
			
			<ion-item>
				<div class="row">
					<div class="col col-10">1</div>
					<div class="col col-20">
						<img src="" alt="">
					</div>
					<div class="col col-60">
						Naam 
					</div>
					<div class="col col-10">456</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="row">
					<div class="col col-10">2</div>
					<div class="col col-20">
						<img src="" alt="">
					</div>
					<div class="col col-60">
						Naam 
					</div>
					<div class="col col-10">404</div>
				</div>
			</ion-item>

		</div>

		<div ng-if="!isLoggedIn()">
			
			You need to login to use this feature, <a href="">login here</a>
			
		</div>
  	</ion-content>
</ion-view>