<ion-view view-title="Settings">
  	<ion-content class="padding">
    	<ul class="list">

  			<li class="item item-toggle">
     			Connected with facebook
     			<label class="toggle toggle-assertive">
       				<input type="checkbox">
       				<div class="track">
         				<div class="handle"></div>
       				</div>
     			</label>
  			</li>
			<li class="item item-toggle">
     			Pushnotifications
     			<label class="toggle toggle-assertive">
       				<input type="checkbox">
       				<div class="track">
         				<div class="handle"></div>
       				</div>
     			</label>
  			</li>
  			<li class="item item-toggle">
     			Silent days
     			<label class="toggle toggle-assertive">
       				<input type="checkbox">
       				<div class="track">
         				<div class="handle"></div>
       				</div>
     			</label>
  			</li>
  			<li class="item item-toggle">
     			Reset
     			<label class="toggle toggle-assertive">
       				<input type="checkbox">
       				<div class="track">
         				<div class="handle"></div>
       				</div>
     			</label>
  			</li>

		</ul>
  	</ion-content>
</ion-view>