<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- compiled css output -->
    <link href="styles.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ngCordova for plugins -->
    <script src="js/ng-cordova.js"></script>

    <!-- your app's js -->
    <script src="app.js"></script>

    <!-- Include mocks for user testing -->
    <script src="js/angular-mocks.js"></script>
   
</head>
<body ng-app="starter" ng-controller="AppCtrl">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="primary">
            <button class="button icon-left ion-log-out" ng-click="logout()" ng-if="isAuthenticated()">Logout</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>
</body>
</html>
